{
  "plugins": [

    "babel-plugin-macros",
    [
      "babel-plugin-styled-components",
      {
        "ssr": true,
        "minify": true,
        "transpileTemplateLiterals": true,
        "displayName": true,
        "fileName": false,
        "pure": true
      }
    ]
  ],
  "presets": [
    [
      "react-app",
      { "absoluteRuntime": false }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "babel-plugin-module-resolver",
          {
            "alias": {
              "src": "./src/"
            },
            "root": ["./"]
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        [
          "babel-plugin-module-resolver",
          {
            "root": ["./"],
            "alias": {
            }
          }
        ]
      ]
    }
  }
}
